a {
  text-decoration:none;
}

body{
  /*background-color:#c3c9d3; */
  background-color:#800000;
  text-decoration:none;
}

.btn {
	line-height: 20px;
	height: 30px;
	text-align: center;
	width: 90px;
	cursor: pointer;
    color:white;
}

.btn-one {
	color: #00334d;
	transition: all 0.3s;
	position: relative;
}

.btn-one span {
	transition: all 0.3s;
}

.btn-one:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #2b333b;
	border-bottom-color: #2b333b;
	transform: scale(0.1, 1);
}

.btn-one:hover span {
	letter-spacing: 2px;
}

.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}

.btn-one::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
    border:1px solid black;
    opacity:0.2;
}

.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

.clearfix:after {
     content: "";
     display: table;
     clear: both;
}

.decorated{
    background-color:#FFFFFF;
    overflow: hidden;
    text-align: center;
    height:50px;
    margin-top:-10px;
    clip: rect(0px, 50px, 50px, 0px);
 }

.decorated > span{
    position: relative;
    display: inline-block;
    margin-top:10px;
}

.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 250px; /* half of limiter */
    margin: 0 40px;
}

.decorated > span:before{
    right: 100%;
}

.decorated > span:after{
    left: 100%;
}

div.img:hover {
   border: 1px solid #ccc;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.jumbotron {
  margin-top:-10px;
  /*background-image:url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQvElNoFPHx7H-eHfpUE10LwEFmoMhAZFLiMLV4CXc8crrLsOEf');*/
  background-image:url('https://static.vecteezy.com/system/resources/previews/000/116/076/original/free-vector-green-watercolor-background.jpg');
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
.jumbotron .container h2 {
  font-size: 46px;
  font-family: 'Fjalla One', sans-serif;
  position: relative;
  margin-top:-3%;
  text-align:center;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  

}
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
.jumbotron p {
  font-family: 'Fjalla One', sans-serif;
  text-decoration:none;
  font-size: 12px;
  color: #424242;
  position:relative;
  text-align:center;
  margin-top:-1%;

}

.lightboxstuff {
  text-decoration:none;
}

.lightbox {
  margin-bottom:-30%;
  display:none;
  position:fixed;
  z-index:999;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background: rgba(0,0,0,0.8);
}

.lightboxstuff a:hover{
    text-decoration:none;
}

a figcaption{
    text-decoration:none;
}

.lightbox img {
  margin:0%;
  padding:0%;
  max-width:100%;
  max-height:100%;
  width:150%;
}

.lightbox:target {
  outline:none;
  display:block;
}

.lightinfo{
  text-decoration:none;
  background:#F0F0F0;
  color:black;
  /*border: 3px solid #F1F1F1;*/
  text-align:center;
  margin-left:35%;
  margin-top:5%;
  height:80%;
  width:30%;
}

.lightinfo p {
  font-size:10px;
  text-decoration:none;
  margin-top:-2%;
  margin:2%;
}

.lightinfo h4 {
  font-size:12px;
  text-decoration:none;
  font-weight:500;
  padding-top:0%;
  margin-top:2%;
  margin-bottom:-6%;
  margin-left:3%;
  text-align:center;
}

.nav{
  background-color:#FFFFFF;
}

.pull-left{
  text-align:left;
  word-spacing:2px;
}

.pull-left li{
  display:inline;
  text-align:left;
}

.responsive {
    display:inline-block;
    padding: 1.2 2px;
    margin-right:-5%;
    margin-left:1.7%;
    float: left;
    width: 17.05%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.show-catalog{
    display:inline-block;
    /*background-color: #d1d1e0;*/
    height:50%;
    width:100%;
    padding:-3%;
    margin-left:0%;
    /*margin-left:25%;
    margin-right:20%;*/
    /*  padding-left:200px;
    padding-right:200px;
    position:center;
    margin-top:-10px;*/
}

figcaption{
    text-decoration:none;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);
.snip1548 {
  font-family: 'Raleway', sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 1% 1%;
  min-width: 200px;
  max-width: 200px;
  width: 100%;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}
.snip1548 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1548:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  bottom: 100%;
  content: '';
  background-color: rgba(51, 51, 51, 0.9);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.snip1548 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}
.snip1548 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.snip1548 h3,
.snip1548 h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}
.snip1548 h3 {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}
.snip1548 h5 {
  font-weight: normal;
  background-color: #ae895d;
  padding: 3px 10px;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1548 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1548:hover:before,
.snip1548.hover:before {
  bottom: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1548:hover h3,
.snip1548.hover h3,
.snip1548:hover h5,
.snip1548.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.snip1548:hover h3,
.snip1548.hover h3 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.snip1548:hover h5,
.snip1548.hover h5 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}